body{
  background: #D9E5FF;
  font-family: "Meiryo";
  text-align: center;
  background-image:url("images/city.png");
 background-repeat:repeat-x ;
 background-position:top;
 background-size:600px;
 
}

p.title{
  font-size: 50px;
  color: DarkCyan;
  font-weight: bold;
  text-align: center;
  text-shadow: 3px 3px 1px black;
}

div.logo{
	margin-left: auto;
	margin-right: auto;
	
}



div.right{
  position: relative;
  left: 200px;
}


div.textbox{
  padding-bottom: 20px;
}

table.login{
  margin-left: auto;
  margin-right: auto;
}

/*おすそわけ錬金術*/
.menu_back{
  color: #158b2b;
  font-size: 40px;
  padding: 10px 0;
  text-align: left;
  margin: 1.5em 0;
}

/*
.menu_back{
    background: url("images/logo_over.png") no-repeat;
    width: 500px;
    height: 200px;
}
.menu_back a{
    display: block;
}
.menu_back img{
    border: none;
}
.menu_back a:hover{
    background: none;
}
.menu_back a:hover img{
    visibility: hidden;
}
*/

.track {
  margin-left:auto;
  margin-right:auto;
}

/*装飾*/
h1:before{
  content: "";
  position: absolute;
  top: -8px;
  left: 50%;
  width: 150px;
  height: 78px;
  border-radius: 50%;
  border: 5px solid #a6ddb0;
  border-left-color: transparent;
  border-right-color: transparent;
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

input.red{
  color: red;
}

.btn_black{
position:relative;
 height:80px;
 width:80px;
 top:150px;
}


.btn{
position:relative;
}

.btn_blue{
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 12px 0 8px;
  text-decoration: none;
  color: Teal;
  transition: .4s;
}

.btn_blue:before{
  position: absolute;
  content: '';
  width: 100%;
  height: 4px;
  top:100%;
  left: 0;
  border-radius: 3px;
  background: Teal;
  transition: .2s;
}

.btn_blue:after{
  position: absolute;
  content: '';
  width: 100%;
  height: 4px;
  top:0;
  left: 0;
  border-radius: 3px;
  background: Teal;
  transition: .2s;
}

.btn_blue:hover:before{
  top: -webkit-calc(100% - 3px);
  top: calc(100% - 3px);
}

.btn_blue:hover:after{
  top: 3px;
}

.btn_red{
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 12px 0 8px;
  text-decoration: none;
  color: Tomato;
  transition: .4s;
}

.btn_red:before{
  position: absolute;
  content: '';
  width: 100%;
  height: 4px;
  top:100%;
  left: 0;
  border-radius: 3px;
  background: Tomato;
  transition: .2s;
}

.btn_red:after{
  position: absolute;
  content: '';
  width: 100%;
  height: 4px;
  top:0;
  left: 0;
  border-radius: 3px;
  background: Tomato;
  transition: .2s;
}

.btn_red:hover:before{
  top: -webkit-calc(100% - 3px);
  top: calc(100% - 3px);
}

.btn_red:hover:after{
  top: 3px;
}

input[type=image]{
  cursor: pointer;
}

input[type=text], input[type=password]{
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  border:#a9a9a9 1px solid;
  -moz-box-shadow: inset 0 0 5px rgba(0,0,0,0.2),0 0 2px rgba(0,0,0,0.3);
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2),0 0 2px rgba(0,0,0,0.3);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2),0 0 2px rgba(0,0,0,0.3);
  width:200px;
  height:25px;
  padding:0 3px;
}
 
input[type=text]:focus, input[type=password]:focus {
  border:solid 1px #20b2aa;
}
 
input[type=text], input[type=password], select { 
  outline: none;
}

table.chat{
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.num{
  position: relative;
  line-height: 1.4;
  padding:0.25em 1em;
  display: inline-block;
  top:0;
}

.num:before,.num:after{
  position: absolute;
  top: 0;
  content:'';
  width: 8px;
  height: 100%;
  display: inline-block;
}
.num:before{
  border-left: solid 1px black;
  border-top: solid 1px black;
  border-bottom: solid 1px black;
  left: 0;
}
.num:after{
  content: '';
  border-top: solid 1px black;
  border-right: solid 1px black;
  border-bottom: solid 1px black;
  right: 0;
}

.balloon{
 	position: relative;
	display: inline-block;
 	margin: 1.5em 0 1.5em 15px;
	padding: 7px 10px;
	min-width: 120px;
 	max-width: 100%;
 	color: #555;
	font-size: 16px;
	background: #FFF;
 	border: solid 3px #555;
 	box-sizing: border-box;
  border-radius: 10px;
}

.balloon:before{
	content: "";
	position: absolute;
	top: 50%;
	left: -24px;
 	margin-top: -12px;
	border: 12px solid transparent;
	border-right: 12px solid #FFF;
 	z-index: 2;
}

.balloon:after{
	content: "";
	position: absolute;
	top: 50%;
	left: -30px;
 	margin-top: -14px;
	border: 14px solid transparent;
	border-right: 14px solid #555;
 	z-index: 1;
}

.balloon p{
	margin: 5px;
	padding: 5px;
}


.menu{
	width:1200px;
	height:500px;
	background-color:#fff;
	//position:relative;
	//top:500px;
	//bottom:500px;
    font-size:16px;
    font-weight:bold;
    font-family:"ＤＦロマン雪W9",fantasy;
	margin-left: auto;
	margin-right: auto;
}
/*
.menu img{
	position:absolute;
	width:300px;
	height:300px;
	left:10px;
	top:100px;
}
*/


section .inner div {
    opacity: 0;
    -webkit-transform-origin: 0px 0px;
    -ms-transform-origin: 0px 0px;
    transform-origin: 0px 0px;
    -webkit-animation-name: Drop;
    animation-name: Drop;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
section#snow .inner div {
    position: absolute;
    display: block;
    width: 70px;
    height: 70px;
    top: 0px;
    background: url("images/img01.png") no-repeat;
}
section .inner2 div {
    opacity: 0;
    -webkit-transform-origin: 0px 0px;
    -ms-transform-origin: 0px 0px;
    transform-origin: 0px 0px;
    -webkit-animation-name: Drop;
    animation-name: Drop;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
#snow .inner2 div {
    position: absolute;
    display: block;
    width: 100px;
    height: 100px;
    top: 0px;
    background: url("images/img09.png") no-repeat;
}
#snow .inner div.flake1,
#snow .inner div.flake3,
#snow .inner div.flake5,
#snow .inner div.flake9{
    background-size: 10px 10px !important;
}

#snow .inner div.flake2,
#snow .inner div.flake4,
#snow .inner div.flake6,
#snow .inner div.flake8 {
    background-size: 10px 10px !important;
}
#snow .inner2 div.flake9,
#snow .inner2 div.flake10,
#snow .inner2 div.flake11,
#snow .inner2 div.flake12, 
#snow .inner2 div.flake13{
    background-size: 10px 10px !important;
}

.flake1 {
    left: 1300px;
    -webkit-animation-duration: 2.5s;
    animation-duration: 2.5s;
}



.flake2 {
    left: 700px;
    -webkit-animation-duration: 2.7s;
    animation-duration: 2.7s;
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}


.flake3 {
    left: 900px;
    -webkit-animation-duration: 2.9s;
    animation-duration: 2.9s;
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.flake4 {
    left: 600px;
    -webkit-animation-duration: 2.4s;
    animation-duration: 2.4s;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}


.flake5 {
    left: 800px;
    -webkit-animation-duration: 2.4s;
    animation-duration: 2.4s;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.flake6 {
    left: 1000px;
    -webkit-animation-duration: 2.2s;
    animation-duration: 2.2s;
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s;
}

.flake7 {
    left: 1100px;
    -webkit-animation-duration: 2.7s;
    animation-duration: 2.7s;
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s;
}

.flake8 {
    left: 1400px;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-delay: 1.4s;
    animation-delay: 1.4s;
}

.flake9 {
    left: 500px;
    -webkit-animation-duration: 2.5s;
    animation-duration: 2.5s;
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.flake10 {
    left: 1050px;
    -webkit-animation-duration: 2.3s;
    animation-duration: 2.3s;
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.flake11 {
    left: 850px;
    -webkit-animation-duration: 2.6s;
    animation-duration: 2.6s;
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.flake12 {
    left: 950px;
    -webkit-animation-duration: 2.0s;
    animation-duration: 2.0s;
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}
.flake13 {
    left: 1200px;
    -webkit-animation-duration: 2.0s;
    animation-duration: 2.0s;
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

@-webkit-keyframes Drop {
    0% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        opacity: 0;
    }

    50% {
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
        opacity: 1;
    }

    100% {
        -webkit-transform: translateY(100px);
        transform: translateY(100px);
        opacity: 0.3;
    }
}

@keyframes Drop {
    0% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        opacity: 0;
    }

    50% {
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
        opacity: 1;
    }

    100% {
        -webkit-transform: translateY(100px);
        transform: translateY(100px);
        opacity: 0.3;
    }
}

.name {
  font-size:30px;
}

.logo {
  width: 500px;
  height: 200px;
}

.delete {
  text-color: red;
}
